.btn_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100vh;
  padding: 0 3rem;
  position: relative;
}

.color_code {
  text-align: center;
  position: absolute;
  bottom: 50%;
  left: 43%;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px 3px grey;
}

.button {
  margin-bottom: 50px;
  padding: 5px 10px;
  height: 3rem;
  width: 6rem;
  outline: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 15px 2px black;
}

.button:hover {
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}
